---
import Layout from "../layouts/Layout.astro";
import Blog from "../components/Blog.astro";
import BlogTitle from "../components/BlogTitle.astro";
---

<Layout title="Welcome to My Blog">
  <main>
    <section id="blog" class="py-28">
      <div class="container mx-auto px-[48px] md:px-[60px] lg:px-20">
        <div class="blog">
          <BlogTitle />

          <Blog />
        </div>
      </div>
    </section>
  </main>
</Layout>
