---
import BlogTemplate from "./BlogTemplate.astro";
import blog_1 from "../assets/images/Blog_1.webp";
import blog_2 from "../assets/images/Blog_2.webp";
import blog_3 from "../assets/images/Blog_2.webp";

const posts = (await Astro.glob("/src/pages/blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<div
  class="blog_cardContainer flex flex-col lg:flex-row gap-12 lg:gap-4 py-16 border-solid border-b-2 border-[#767A81]"
>
  <BlogTemplate
    src={blog_1}
    title={"ဒီလို အကြပ်အတည်းကာလမှာ လုပ်ငန်းတွေသုံးသင့်တဲ့ Marketing Strategy ၃ ခု အပိုင်း(၁)"}
    content={"မီတာစျေးတွေတက်လာတယ်၊ အင်တာနက် Package တွေစျေးကြီးလာတယ် ဆီစျေးတွေတက်လာတယ် စတဲ့ အတက်တွေကြားမှာ လုပ်ငန်းတွေအနေနဲ့ ကိုယ့်နဲ့အတူလုပ်ကိုင်နေတဲ့ ဝန်ထမ်း၊ မိသားစုအတွက် ရသမျှနည်းလမ်းအကုန်နဲ့ထောင့်ခံ ရုန်းကန်နေရဦးမှာပါ"}
  />
  <BlogTemplate
    src={blog_2}
    title={"၂ မိနစ်တည်းနဲ့ သင့်လုပ်ငန်းအကြောင်း အသေးစိတ်ပြောပြနိုင်မယ်ဆိုရင်"}
    content={"၂ မိနစ်တည်းနဲ့ သင့်လုပ်ငန်းအကြောင်း အသေးစိတ်ပြောပြနိုင်မယ်ဆိုရင် အချက်အလက်ကို လိုချင်တဲ့နေရာ လိုချင်တဲ့အချိန်မှာ ရယူချင်လာတဲ့ Digital ခေတ်မှာ လုပ်ငန်းတွေရဲ့ အဓိက စိန်ခေါ်မှုဟာ လိုချင်တဲ့ အချက်အလက်ကို အမြန်ဆုံးပေးနိုင်ခြင်းပဲဖြစ်ပါတယ်။"}
  />
  <BlogTemplate
    src={blog_3}
    title={"မြိတ်က အွန်လိုင်းသုံးစွဲသူတွေရဲ့ အကြိုက်က ဘာဖြစ်မလဲ?"}
    content={" မြိတ်မြို့မှာလုပ်ကိုင်ကြတဲ့ စီးပွားရေး လုပ်ငန်းတွေဟာ Online Marketing ရဲ့ အဓိက အရေးကြီးဆုံး အပိုင်းဖြစ်တဲ့  ကြော်ငြာစာအရေးအသားမှာ အားနည်းတာ၊ အချိန်မပေးနိုင်တာကို တွေ့ရပါတယ်။"}
  />

  {posts && posts.map(() => <BlogTemplate />)}
</div>
